.top-bar, .top-bar ul{
  background-color: $nav-background;
}
.top-bar {
  a{
    color: $nav-link-color;
  }
  .menu-text{
    color: $nav-text-color;
    a {
      display: inline;
      padding: 0;
    }
  }
}
