// colors
$grey: #333333;

// theme
$primary: #766456;

// navigation
$nav-background: $primary;
$nav-text-color: white;
$nav-link-color: orange;

// clock
$clock-text-color: white;
$clock-bg-color: #BD5E20;
$clock-border-color: #E25453;
